.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 50%;
  flex-direction: column;
}
input,
input::placeholder {
  width: 50%;
  height: 15%;
  font-size: 18px;
  padding: 10px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  width: 15%;
  height: 20%;
}
h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
